extends layouts/main.pug

block title
    title Daniel Yde Therkildsen - Danish Web Developer portfolio

block description
    meta(name="description", content="Hi! I'm Daniel Yde Therkildsen. I'm a Web Developer from Denmark. Here's some information/projects I've done.")

block content
    .sitetop
        img(src="assets/images/wave.svg", alt="wave").wavedevider
        header.sitetop-header
            a(href="/").sitebrand
                img(src="assets/images/logo.svg", alt="Daniel Yde Therkildsen - logo")
            label.opennav(for="navmenu") &#9776;
            input#navmenu(type="checkbox", name="navmenu")
            nav
                label.closenav(for="navmenu") X
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="#") About
                    li
                        a(href="#") Projects
                    li
                        a(href="#") Contact
                    li
                        a(href="#") CV
        .sitetop-content
            .sitetop-content-left
                h1.sitetop-content-title Hi! I'm Daniel
                p I'm a freelance Web Developer based in Svendborg, Denmark. I specialize in responsive & fast websites.
                p I have experience with HTML, Templating languages(PUG & ejs) CSS/SCSS, NodeJS, Express, GULP & VueJS
                a(href="#").button-calltoaction--white 
                    span More about me
                    i.fas.fa-angle-double-right
            img(src="/assets/images/top-logo.svg", alt="Daniel Yde Therkildsen - Responsive design image")
    .contact
        .contact-content
            h2 Contact me
            p Do you want to get in contact with me? Here's your chance!
            form.contactform(action="https://formspree.io/xqkbdeor" method="post")
                input.contactform-input(type="text" name="name" placeholder="Name*")
                input.contactform-input(type="email" name="email" placeholder="Email*")
                input.contactform-input(type="text" name="subject" placeholder="Subject*")
                textarea#message.contactform-input(name="message", cols="20", rows="5" placeholder="Message*")
                button.button-calltoaction--purple-filled SEND EMAIL
                p.contactform-phonenumber
                    span Call me at: 
                    a(href="tel:+4523371716") +45 23 37 17 16

block scripts
    script(src="/assets/js/contact.js")