<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="keywords", content="HTML,CSS,JavaScript,GULP,Portfolio,Daniel Yde Therkildsen,Web Developer,Danish,Web Developer graduate")
        link(rel="stylesheet", href="/assets/css/styles.css")
        //- Google analytics start
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-159376558-1")
        script(src="/assets/js/analytics.js")
        //- Analytics end
        //- Favicon stuff
        link(rel="shortcut icon", href="assets/images/favicon.ico", type="image/x-icon")
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <meta name="msapplication-TileColor" content="#0075DD">
        <meta name="theme-color" content="#0075DD">
        //- favicon stuff end
        //- Google font ubuntu
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet"> 
        block description
        block title
    body
        block content
        footer
            .socialmedia
                p Follow me on social media
                .socialmedia-socialicons
                    a(href="https://www.facebook.com/Danieltherkildsen1" target="_blank").fab.fa-facebook-f.socialmedia-socialicons-icon
                    a(href="https://twitter.com/DanielTherkilds" target="_blank").fab.fa-twitter.socialmedia-socialicons-icon
                    a(href="https://www.instagram.com/danielydetherkildsen/" target="_blank").fab.fa-instagram.socialmedia-socialicons-icon
                    a(href="https://www.linkedin.com/in/daniel-yde-therkildsen/" target="_blank").fab.fa-linkedin-in.socialmedia-socialicons-icon
            p
                small 
                    span Copyright &copy; 
                    script. 
                        document.write(new Date().getFullYear());
                    span  Daniel Yde Therkildsen

        .cookieconcent
            div
                p 
                    span This site uses cookies from Google Analytics to track and report website traffic. 
                    a(href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank") Read More
            div
                button.cookieconcent-button--accept Accept cookies
                button.cookieconcent-button--reject Reject cookies


    <script src="/assets/js/cookieconsent.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ab39bcca60.js" crossorigin="anonymous"></script>
