.contact{
    background: linear-gradient(to right bottom,rgba(0, 118, 221,.8),rgba(77, 112, 238,.8),rgba(131, 99, 246,.8),rgba(182, 75, 245,.8),rgba(230, 0, 233,.8)),url("../images/contact_bg.jpg");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    &-content{
        width: 100%;
        background-color: rgba($color: #ffffff, $alpha: .9);
        border-radius: .5em;
        padding: 2em;
        box-sizing: border-box;
        box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 20px 0px
        rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        .contactform{
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            color: #515b66;
            &-input{
                margin-bottom: 1.5em;
                display: block;
                width: 100%;
                box-sizing: border-box;
                border-radius: 1.2em;
                border: none;
                padding: 1em;
                font-size: .9rem;
                // font-weight: bold;
                /* Shadow stuff */
                box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
                -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
                -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
                border: 2px solid transparent;
                &--error{
                    border-color: red;
                }
            }
            textarea{
                font-family: inherit;
                resize: none;


                /*Firefox scroll bar settings*/
                scrollbar-color: #7f7f7f white; /* thumb and track color */
                scrollbar-width: thin;

                /*Chrome scrollbar settings*/
                &::-webkit-scrollbar{
                    width: 7.5px;
                }
                &::-webkit-scrollbar-track {
                    background: white;
                }
                &::-webkit-scrollbar-thumb {
                    background: #7f7f7f;
                    border-right: 1px solid white;
                }
            }
            label{
                margin: 0 0 .5em 1em;
                color:#6a2f77;
                font-weight: bold;
            }
            button{
                font-size: .85rem;
                cursor: pointer;
                text-align: center;
                margin-top: 1em;
            }
            &-phonenumber{
                text-align: center;
                a{
                    color:#6a2f77;
                    text-decoration: none;
                }
            }
            &-status{
                margin: 0;
                color: red;
            }

        }
    }
}


@media (min-width: 768px){
    .contact{
        padding: 4em 2em;
        &-content{
            width: 70%;
            .contactform{
                input,textarea{
                    font-size: 1rem;
                }
                button{
                    font-size: .9rem;
                }
            }
        }
    }
}
@media (min-width: 1280px){
    .contact{
        padding: 4em 2em;
        &-content{
            width: 50%;
            .contactform{
                input,textarea{
                    font-size: 1rem;
                }
                button{
                    font-size: .9rem;
                }
            }
        }
    }
}