
.cookieconcent{
    transform: translateY(100%);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .8);
    width: 100%;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
    p{
        margin: 0;
        margin-bottom: 1em;
    }
    a{
        color: lime; 
    }
    .cookieconcent-button{
        padding: .5em;
        color: white;
        cursor: pointer;
    }
    .cookieconcent-button--accept{
        @extend .cookieconcent-button;
        background: rgb(8, 170, 35);
        color: white;
        border: none;
        margin-right: 2em;
    }
    .cookieconcent-button--reject{
        @extend .cookieconcent-button;
        background: red;
        border: none;
    }
}
.cookieconsent--show{
    transform: translateY(0);
}
@media (min-width:950px){
    .cookieconcent{
        flex-direction: row;
        p{
            margin-bottom: 0;
        }
        .cookieconcent-button--accept{
            margin-right: 1em;
        }
    }
}