footer{
    padding: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    .socialmedia{
        display: flex;
        align-items: center;
        flex-direction: column;
        &-socialicons{
            &-icon{
                color: black;
                border: 2px solid black;
                text-decoration: none;
                margin-right: 1em;
                padding: .5em;
                &:last-of-type{
                    margin: 0;
                }
            }
        }
    }

}