body {
    margin: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.button {
    &-calltoaction {
        align-self: center;
        padding: 1em;
        font-weight: bold;
        text-decoration: none;
        border-radius: 1em;
        display: inline-block;
        font-size: .9rem;
        i{
            visibility: hidden;
            transition: all .5s;
            opacity: 0;
            max-width: 0;
        }
        &:hover i{
            margin-left: .5em;
            visibility: visible;
            opacity: 1;
            max-width: 30px;
        }
        &--white {
            @extend .button-calltoaction;
            border: 2px solid white;
            background: transparent;
            color:white;
            transition: all .3s;
        }
        &--purple-filled {
            @extend .button-calltoaction;
            border: none;
            background: #bd59d4;
            border-radius: 2em;
            padding: 1em 3em;
            color:white;
            transition: all .3s;
            margin: 0 auto;
        }
    }
}