.sitetop {
    background-image: linear-gradient(to right bottom, #0076dd, #4d70ee, #8363f6, #b64bf5, #e600e9);
    display: grid;
    grid-template-rows: 5em 1fr;
    position: relative;
    color: white;
    margin-bottom: 1em;
    overflow: hidden;
    .wavedevider {
        position: absolute;
        bottom: -1px;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;

        .sitebrand {
            width: 90%;
            display: block;
            margin-right: 1em;

            img {
                display: block;
            }
        }

        .opennav {
            padding: .5rem;
            border: 2px solid white;
            font-weight: bold;
        }

        a {
            color: inherit;
            text-decoration: none;
        }

        nav {
            z-index: 99999999;
            visibility: hidden;
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            transform: translateX(100%);
            transition: all .3s;
            padding: 2em;
            box-sizing: border-box;
            background-image: linear-gradient(to left top, #368887, #268793, #1f859e, #2a81a7, #407dad);

            .closenav {
                position: absolute;
                right: 1.2em;
                top: 1em;
                font-weight: bold;
                border: 2px solid white;
                padding: .5em;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                width: 100%;
                text-align: center;

                li {
                    font-size: 1.5em;
                    padding: .5em;
                    transition: background .1s;
                    text-transform: uppercase;

                    &:hover {
                        background-color: #1B6D7D;
                    }
                }
            }
        }

        #navmenu {
            display: none;
        }

        #navmenu:checked~nav {
            visibility: visible;
            transform: translateX(0);
        }
    }
    &-content{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 30%;
        animation: showTitle .5s forwards;
        z-index: 0;
        &-title{
            font-size: 2.5rem;
            margin-bottom: 0;
        }
        .button-calltoaction--white{
            margin: 1em 0 2em;
        }
        img{
            width: 100%;
            display: block;
        }
    }
    @keyframes showTitle {
        from{
            transform: translateY(50%);
        }
        to{
            transform: translateY(0%);
        }
    }
}
@media (min-width: 768px){
    .sitetop {
        .wavedevider {
            position: absolute;
            bottom: -1px;
        }
        &-header{
            .sitebrand {
                width: 25%;
            }
        }
        &-header {
            .opennav{
                display: none;
            }
            nav{
                visibility: visible;
                transform: translate(0);
                position: static;
                height: initial;
                width: initial;
                display: block;
                padding: 0;
                background: transparent;
                .closenav{
                    display: none;
                }
                ul{
                    display: flex;
                    li{
                        font-size: 1.2rem;
                        position: relative;
                        transition: all .2s;
                        &::after{
                            content: "";
                            height: 2px;
                            position: absolute;
                            width: 0;
                            left: 25%;
                            bottom: .2em;
                            background: white;
                            transition: all .2s;
                            margin: 0 auto;
                        }
                        &:hover{
                            background-color: transparent;
                            font-weight: bold;
                        }
                        &:hover::after{
                            width: 50%;
                        }
                    }
                }
            }
        }
        &-content{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 5%;
            width: 70%;
            text-align: left;
            margin-top: 5%;
            margin-bottom: 20%;
            &-left{
                width: 80%;
            }
            &-title{
                font-size: 3.5em;
                margin: 0;
            }
        }
    }
}